<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间namespace:指定接口全类名 -->
<mapper namespace="com.banyuan.blog.mapper.BlogMapper">
    <resultMap id="selectBlogById" type="com.banyuan.blog.model.Blog" autoMapping="true">
        <id property="id" column="id"/>
        <association property="user" javaType="com.banyuan.blog.model.User" columnPrefix="user_" autoMapping="true">
            <id property="id" column="id"/>
        </association>
        <collection property="commentList" ofType="com.banyuan.blog.model.Comment" columnPrefix="comment_"
                    autoMapping="true">
            <id property="id" column="id"/>
        </collection>
    </resultMap>
    <select id="selectBlogById" resultMap="selectBlogById">
        SELECT blog.id AS     id,
               title,
               blog.user_id   user_id,
               blog.content   content,
               blog.time      time,
               comment_num,
               c.id           comment_id,
               c.user_id      comment_user_id,
               c.blog_id      comment_blog_id,
               c.content      comment_content,
               c.time         comment_time,
               user.id        user_id,
               user.username  user_username,
               user.password  user_password,
               user.nick_name user_nickName,
               user.gender    user_gender,
               user.age       user_age,
               user.address   user_address,
               user.qq        user_qq,
               user.email     user_email
        FROM blog
                 JOIN user ON blog.user_id = user.id
                 LEFT JOIN comment c ON c.blog_id = blog.id
        WHERE blog.id = #{id}
    </select>

    <select id="selectBlogByNickName" resultType="com.banyuan.blog.model.Blog">
        SELECT blog.id AS id, title, user_id, content, time, comment_num
        FROM blog
                 LEFT JOIN
             user ON blog.user_id = user.id
        WHERE user.nick_name = #{nickName}
    </select>

    <select id="selectBlogByUserId" resultType="com.banyuan.blog.model.Blog">
        SELECT blog.id AS id, title, user_id, content, time, comment_num
        FROM blog
                 LEFT JOIN user ON user_id = user.id
        WHERE user.username = #{username}
    </select>
</mapper>
