<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间namespace:指定接口全类名 -->
<mapper namespace="com.banyuan.blog.mapper.CommentMapper">
    <resultMap id="CommentMap" type="com.banyuan.blog.model.Comment" autoMapping="true">
        <id property="id" column="id"/>
        <association property="user" javaType="com.banyuan.blog.model.User">
            <result property="id" column="user_id"/>
            <result property="nickName" column="nick_name"/>
        </association>
    </resultMap>

    <select id="selectCommentByBlogId" resultMap="CommentMap">
        SELECT comment.id,
               user_id,
               blog_id,
               content,
               time,
               user.id as user_id,
               user.nick_name
        FROM comment LEFT JOIN user ON comment.user_id=user.id
        WHERE blog_id = #{blogId}
    </select>

    <select id="selectCommentByUserId" resultType="com.banyuan.blog.model.Comment">
        SELECT id,
               user_id,
               blog_id,
               content,
               time
        FROM comment
        WHERE user_id = #{userId}
    </select>
</mapper>
