<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间namespace:指定接口全类名 -->
<mapper namespace="com.banyuan.blog.mapper.UserMapper">
    <resultMap id="selectUserByUsername" type="com.banyuan.blog.model.User" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="blogList" javaType="java.util.ArrayList" ofType="com.banyuan.blog.model.Blog" column="username=username"
                    select="com.banyuan.blog.mapper.BlogMapper.selectBlogByUsername" autoMapping="true"/>
    </resultMap>

    <select id="selectUserByUsername" resultMap="selectUserByUsername">
        SELECT id,
               username,
               password,
               nick_name,
               gender,
               age,
               address,
               qq,
               email
        FROM user
        WHERE nick_name = #{username}
    </select>
</mapper>
